<!DOCTYPE html>
<html>
<head>
  <title>Liste d'épicerie</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-2xl p-8 bg-white rounded shadow">
      <h1 class="text-3xl text-center mb-6">Liste d'épicerie</h1>

      <div id="app">
        <div class="mb-4">
          <input class="w-full py-2 px-4 border rounded" type="text" v-model="newItem" placeholder="Nouvel item">
        </div>
        <div class="flex justify-center">
          <button class="py-2 px-4 bg-green-500 hover:bg-green-600 text-white rounded transition duration-200" @click="addItem">Ajouter</button>
        </div>

        <h2 class="text-2xl mt-8 mb-4">Items</h2>
        <ul>
          <li v-for="item in items" :key="item._id" class="flex items-center mb-2">
            <span class="flex-grow break-all">{{ item.item }}</span>
            <button class="py-1 px-2 bg-red-500 hover:bg-red-600 text-white rounded transition duration-200" @click="deleteItem(item)">Supprimer</button>
          </li>
        </ul>
      </div>

      <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
          data() {
            return {
              newItem: '',
              items: []
            }
          },
          created() {
            this.getItemList();
          },
          methods: {
            addItem() {
              if (this.newItem.trim() !== '') {
                const newItem = { item: this.newItem };
      
                fetch('http://localhost:3000/liste_epicerie', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(newItem)
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.error) {
                      console.error(data.error);
                    } else {
                      console.log(data.message);
                      this.newItem = '';
                      this.getItemList();
                    }
                  })
                  .catch(error => {
                    console.error('Une erreur s\'est produite:', error);
                  });
              }
            },
            getItemList() {
              fetch('http://localhost:3000/liste_epicerie')
                .then(response => response.json())
                .then(data => {
                  if (data.error) {
                    console.error(data.error);
                  } else {
                    this.items = data.items;
                  }
                })
                .catch(error => {
                  console.error('Une erreur s\'est produite:', error);
                });
            },
            deleteItem(item) {
              fetch(`http://localhost:3000/liste_epicerie/${item._id}`, {
                method: 'DELETE'
              })
                .then(response => response.json())
                .then(data => {
                  if (data.error) {
                    console.error(data.error);
                  } else {
                    console.log(data.message);
                    this.getItemList();
                  }
                })
                .catch(error => {
                  console.error('Une erreur s\'est produite:', error);
                });
            }
          }
        });
      
        app.mount('#app');
      </script>
</body>
</html>
